@import url("http://fonts.cdnfonts.com/css/bahnschrift");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Bahnschrift", sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Style */

/* header {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
} */

nav {
  background-color: #f8f9fa;
}

.menuSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  margin: 5px 30px;
}

.menuInferior {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-top: 1px solid #f8f9fa;
  padding-top: 5px;
  margin: 0 auto;
  width: 100%;
}

.loginCarrinho {
  display: flex;
  align-items: center;
  gap: 1em;
}
.botaoMenu {
  height: 25px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin: 0 25px;
  color: black;
  background-color: #ffd500;
}
.botaoMenu a {
  padding: 0;
}
.botaoMenu:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff9100;
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 0.5;
}

form {
  color: #555;
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  background-color: whitesmoke;
}

input[type="search"] {
  border: 0.5px solid rgba(0, 0, 0, 0.571);
  background: transparent;
  margin: 0;
  font-size: 16px;
  width: fit-content;
  border-radius: 10px;
}

input[type="search"]::placeholder {
  color: #555;
  text-align: center;
}

button[type="submit"] {
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0.7;
  width: 32px;
  height: 32px;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  outline: none;
}

i::before {
  font-size: 24px;
  margin: 0;
}
/* Carrosel de produtos */

.container-carrossel-produtos {
  background: #8abfc2;
  width: 100%;
  height: auto;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.carrossel-produtos {
  display: flex;
  width: 500%;
  height: 300px;
}

.carrossel-produtos input {
  display: none;
}

.slide {
  width: 20%;
  transition: 3s;
}

.slide img {
  width: 100%;
  height: 300px;
}

/* css para navegação manual */

.navegacao-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.botao-manual {
  border: 3px solid #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}

.botao-manual:not(:last-child) {
  margin-right: 40px;
}

.botao-manual:hover {
  background: #f8f9fa;
}

#radio1:checked ~ .primeiro {
  margin-left: 0;
}
#radio2:checked ~ .primeiro {
  margin-left: -20%;
}
#radio3:checked ~ .primeiro {
  margin-left: -40%;
}
#radio4:checked ~ .primeiro {
  margin-left: -60%;
}

/* css passagem automatico */

.navegacao--automatica {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -1000px;
}

.navegacao--automatica div {
  border: 3px solid #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  transition: 2s;
}

.navegacao--automatica div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navegacao--automatica .auto-botao1 {
  background: #f8f9fa;
}
#radio2:checked ~ .navegacao--automatica .auto-botao2 {
  background: #f8f9fa;
}
#radio3:checked ~ .navegacao--automatica .auto-botao3 {
  background: #f8f9fa;
}
#radio4:checked ~ .navegacao--automatica .auto-botao4 {
  background: #f8f9fa;
}

/* Galeria de produtos */

.container-galeria {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px 0 20px 20px;
  border-top: 0.7px solid rgba(51, 51, 51, 0.194);
}
.container-galeria h2 {
  font-size: 1.4em;
  width: 100%;
  padding: 0;
}
.container-filtros h3 {
  font-size: 1.2em;
  width: 100%;
  padding: 5px 0 0 0;
  border-bottom: 1px solid black;
}
.container-filtros a {
  padding: 10px 0 5px 0;
}
.container-filtros {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 20px;
}

.galeria-produtos-index {
  width: 80%;
  max-width: 1300px;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.hide {
  display: none;
}

.produto-galeria-index {
  width: 200px;
  height: 30%;
  margin: 020px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 4px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 4px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 10px;
}
.produto-galeria-index h2,
h3 {
  font-size: 0.8em;
  text-align: left;
  padding: 10px 10px;
  align-self: ce;
}
.produto-galeria-index h3 {
  font-size: 1.2rem;
}
.produto-galeria-index a {
  padding: 0;
}
.img-produto-index {
  width: 100%;
  height: 100%;
  align-self: center;
  padding: 0;
  border-radius: 10px;
}

.scroll-to-top {
  position: fixed;
  inset: auto 0.5rem 0.5rem auto;
  color: #333;
  background-color: whitesmoke;
  border-radius: 8px;
  scroll-behavior: smooth;
}
/* Footer Style */

.footerSite {
  border-top: 0.7px solid rgba(51, 51, 51, 0.194);
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  justify-content: space-around;
  background-color: #f8f9fa;
  width: 100%;
  padding: 10px 0 20px 0;
  text-align: left;
}

.footerSite h4,
p,
a {
  padding-bottom: 5px;
  text-align: center;
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailNewsletter {
  display: flex;
  padding: 5px;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
}

input[type="e-mail"]::placeholder {
  color: #555;
}

.botaoConfirmar {
  width: fit-content;
}

.formasDePagamento {
}

.tiposPagamentos {
  display: flex;
  justify-content: space-evenly;
}

.politicas ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.redesSociais {
}

.tiposRedesSociais {
  display: flex;
  justify-content: space-evenly;
}

/* Estilos Pagina Produtos */

/* media-resposividade */

@media screen and (max-width: 768px) {
  .menuSuperior {
    flex-direction: column;
    align-items: center;
  }
  .footerSite {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }
  .container-carrossel-produtos,
  .carrossel-produtos,
  .navegacao--automatica,
  .botao-manual {
    display: none;
  }
  .container-galeria {
    padding: 0;
  }
  .container-galeria .margin-cachorro {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .menuInferior {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    margin-bottom: 5px;
  }
  .politicas ul {
    padding-left: 0 !important;
    list-style: none;
  }
}
